<p class="tekstike">
Juurdepääs konsultatsioonidele
</p>

<p class="tekstike2">
Konsultatsioone on võimalik saada maakondlike arenduskeskuste (MAK-id) vahendusel. Maakondlike arenduskeskuste näol on tegemist maakondades paiknevate arendusorganisatsioonidega, mis aitavad luua uusi ja arendada juba tegutsevaid ettevõteid.  Sellisel viisil soodustatakse investeeringute abil uute töökohtade loomist ja aidakse seeläbi kaasa inimeste majandusliku toimetuleku parandamisele. Eelkõige on maakondlikud arenduskeskused tegevad inimeste heaolu mõjutavates valdkondades.
<br><br>
Maakondlike arenduskeskuste katusorganisatsiooniks on MTÜ Maakondlikud Arenduskeskused, mille kaudu ollakse ametlikuks partneriks ka Majandus- ja Kommunikatsiooniministeeriumiga.  MTÜ Maakondlikud Arenduskeskused pakub ettevõtlusteemalisi koolitusi, nõustamist ja osalemist mitmetes erinevates projektides.  Olulist rõhuasetust nähakse reaalajamajanduse suunal.

</p>

<!--br-->

<!--iframe width="100%" height="750" src="https://www.arenduskeskused.ee/"></iframe-->

<!--br-->