<!--h1>Angular 7 and angular-progress-bar</h1>
<p>
See angular-progress-bar <a href="https://github.com/CharlesGrimont/angular-progress-bar">Github repo</a>
</p>
<p>
See angular-progress-bar <a href="https://www.npmjs.com/package/angular-progress-bar">npm plugin</a>
</p>

<h2> Classic bar default color </h2>
<p> Here, color is the one by default<p>
<progress-bar [progress]="progress"></progress-bar>

<h2> Classic bar customized color </h2>
<p> Here, color is customized <p>   
<progress-bar [progress]="progress" [color]="'#92D892'"></progress-bar>

<h2> Color degradated bar </h2>
<p> Here, color changes switch the progress percentage</p-->
<!---progress-bar [progress]="progress" [color-degraded]="{'0': '#00cbcb',  '5': '#f9c3d3', '10': '#fd8c8e', '15': '#8bbcb8','20': '#9aedbf','25': '#92d892','30': '#e04050','35': '#40e0d0','40': '#161616','45': '#d6a7df','50': '#99cc66','55': '#fffdd0','60': '#993366', '65': '#5d5d5d','70': '#06983e', '75': '#ea5399','80': '#ffc0cb','85': '#cec64a','90': '#e4efef','95': '#f392bd'}"></progress-bar-->