<div class="frame">

<div class="rida">
   <div class="group">
     <div class="joonisval">
       <div class="joonis">
           
         <!--div class="overlap-group"-->
           
         <!--/div-->
         <graaf13></graaf13>
         <!--koondind7-component></koondind7-component-->
         
         
       </div>
       
     

</div>
     
   </div>
   <div class="tekstjanupp">
     <p class="ettev-te-on-k-rge">
      <br>
       <span class="span">Igal kaubagrupil on oma elastsus, s.t. millise hinna muutuse juures valib vedaja raudtee asemel mingi muu transpordiliigi, näiteks maantee, veetee või hoopis veotee (veoliikide kombinatsiooni) mõnes teises piirkonnas (riigis). Iga kaubagrupi juures võib välja tuua seda kaubagruppi vedavate ettevõtete kogumi. Igal ettevõttel on oma elujõulisus, kuid ka ettevõtte kogumi peale saab välja arvutada keskmise elujõulisuse.</span>
       
       
     </p><br><br><br><br><br>
     <div class="nupp">
      <button (click)="onclick()">
      
      {{ReadMore?"Näita rohkem informatsiooni":"Peida täiendav informatsioon"}}
      </button>
     </div>
   </div>
</div>
</div>
      <ng-container *ngIf="visible">
        <lahteturn-component></lahteturn-component>
        <!--tasutabel-component></tasutabel-component-->
        <!--div class="tekstselgit2">
          
          <br>   
          
          <lahteinfo-component></lahteinfo-component>    
            
        </div-->
        

    </ng-container>
      <!--/div-->  <!--Teksti kohta on stiiliinfot 224-->

     




   <!--/div-->
 <!--/div-->    

<!--/div-->

<!--{{maakonnaKontroll()}}-->