<br>
<br>
<div class= "tekstike">
  Elastsuse tähendus konkreetses analüüsis
</div>
<div class="infoasukoht">
  <infoaken8-component></infoaken8-component>
  </div>
<br><br>
<div class= "tekstike2">
Alljärgnevas tabelis on näidatud elastsuse tähendus nõudluse hinna ristelastsuse kontekstis raudtee kasutamise/asendamise oludes.
</div>
<table id="employees">
  
<tr>
<th>Elastsuse suurus</th>
<th>Kuidas kutsutakse</th>
<th>Mida tähendab</th>
<th>Mis juhtub</th>


</tr>


<tr>
<td>Suurem kui 1</td>
<td>Elastne</td>
<td>Raudtee tarbimise vähendamist ja alternatiivi kasutamist</td>
<td>Hinna tõustes minnakse kiiresti maanteele, veeteele või üldse logistikaga teise riiki</td>

</tr>

<tr>
<td>0 - 1</td>
<td>Mitteelastne</td>
<td>Alternatiivi kasutatakse viimases hädas</td>
<td>Hinna tõustes pigem ei minda mujale, katsutakse alla neelata nii kaua kui võimalik</td>

</tr>


</table>
<br><br>
<br>
<div class= "tekstike2">
Tabelis on käsitletud enamlevinud olukorda, kus nõudluse hinnaelastsuse kontekstis liiguvad hinnad ja kogused erinevates suundades.
</div>