<p class="tekstike">
  Mudelite tutvustamine
  </p>
  <div class="infoasukoht">
  <infoaken4-component></infoaken4-component>
  </div>

  <!--p class="tekstikev">
    Mis infot me hetkeolukorra kohta teame
    </p-->

    <p class="tekstike2">
      Kasutustasu määramiseks pakub prototüüp välja erinevaid masinõppe mudeleid, mis annavad oma hinnangu andmetele ning hiljem programmikood (algoritm) interpreteerib neid tulemusi kasutaja jaoks ning soovitab kasutajal midagi siis teha (kasutustasu tõsta või langetada teatud määral). Ühtlasi interpretatsiooni juures selgitatakse lahti, miks ühte või teist soovitust one esitatud.

    </p>