<div class="frame">

<div class="rida">
   <div class="group">
     <div class="joonisval">
       <div class="joonis">
           
         
         
        <div class="tekstike">
         Hinnaelastsus
        </div>
        <br>
        <br>
        <div class="tekstike2"> 
          Nõudluse hinnaelastsus on nõudluse muutuse näitaja, mis kirjeldab kauba nõutava koguse muutust, kui muutub kauba hind. Nõudluse hinna ristelastsus on nõudluse muutuse näitaja, mis kirjeldab ühe kauba nõutava koguse muutust, kui muutub teise kauba hind.
        </div>
        <br>
        <div class="tekstike2"> 
          Elastsus määrab ära valmiduse kasutada raudtee asemel maateed, veeteed, muud riiki. Elastsus on kaubagruppide lõikes erinev ja muutub ajas.
          <br><br>
          Joonisel kõrval kujutatud elastsuse absoluutväärtused.
        </div>
         
       </div>
       
     

      </div>
     
   </div>
   <div class="tekstjanupp">
     <!--div class="graafikuke"-->
       

     <!--graaf12></graaf12-->
      <graafelast></graafelast>
     <!--/div-->

     <!--div class="nupp">
      <button>
      Vaata täpsemat põhjendust
      </button>
      </div-->  <!--Teksti kohta on stiiliinfot 224-->
   </div>
 </div>    

</div>