
<br>
<br>
<div class= "tekstike">
  Elastsuse tähendus
</div>
<div class="infoasukoht">
  <infoaken7-component></infoaken7-component>
  </div>
<br><br>
<div class= "tekstike2">
Alljärgnevas tabelis on näidatud elastsuse numbriliste väärtuste suurused ja vastavad tähendused.
</div>
<table id="employees">
  
<tr>
<th>Elastsuse suurus</th>
<th>Kuidas kutsutakse</th>
<th>Mida tähendab</th>


</tr>

<tr>
<td>Lõpmatus</td>
<td>Perfektselt elastne</td>
<td>Hinnatõus tähendaks koguse kahanemist nullini</td>

</tr>
<tr>
<td>Suurem kui 1</td>
<td>Elastne</td>
<td>Hinna kasv tähendaks koguse olulist vähenemist</td>

</tr>
<tr>
<td>Elastsus = 1</td>
<td>Ühikuline</td>
<td>Hinnamuutus % võrra muudab nõudlust sama % võrra</td>

</tr>
<tr>
<td>Elastsus 0 - 1</td>
<td>Mitteelastne</td>
<td>Hinnamuutus kutsub esile väga väikse koguse muutuse</td>

</tr>
<tr>
<td>Elastsus = 0 </td>
<td>Pefektselt mitteelastne</td>
<td>Hinnamuutus ei too kaasa mingit koguse muutust</td>

</tr>

</table>
<br><br>
<br>
<div class= "tekstike2">
Tabelis on käsitletud enamlevinud olukorda, kus nõudluse hinnaelastsuse kontekstis liiguvad hinnad ja kogused erinevates suundades.
</div>