<p class="tekstike">
  Elujõulisus maksevõime asemel
  </p>
  <div class="infoasukoht">
  <infoaken3-component></infoaken3-component>
  </div>
  
  <br>
  <!---yld3-component></yld3-component--->
  
  <br>
  <!---p class="tekstikev">
    Mis infot me sinu ettevõtte olukorrast teame
    </p--->
   
    <p class="tekstike2">
     Raudteeveo ettevõtete klientide elujõulisus võib näidata lisaks ettevõtte majanduslikule üldisele elujõule muuhulgas ka seda, kuivõrd suuteline on ta tasuma raudtee kasutustasu (mida raudteeveo ettevõtte talle hinnakujunduses edasi suunab). 

     <br><br>

     Elujõulisus on laiem näitaja, kui maksevõime. Maksevõime näitab hetkesuutlikkust, elujõulisus vaatab ka tulevikku (on laiapõhjalisem näitaja, võtab arvesse rohkem sisendeid). Ettevõtted mõtlevad strateegiliselt, prognoosivad tulevikku, seega teevad oma otsuseid laiema vundamendi pealt, kui "hetkel kontol raha on". Sellest tulenevalt võib ettevõtte elujõulisuse indikaatori sissetoomine lisada väärtust (võimaldada täpsemalt mõistatada, mida ettevõtted teha tahavad).

     <br>
    <!--- Ennustus: {{getEnnustus()}} -->


      </p>