<table id="employees">
  
  <tr>
  <th>Näite No</th>
  <th>Ettevõtete elujõud</th>
  <th>Kaubagrupi hinnaelastsus</th>
  <th>Kasutustasu liigutamine</th>
  <th>Kindlusaste</th>
  
</tr>

  <tr>
  <td>Grupp1</td>
  <td>Suur</td>
  <td>Väike</td>
  <td>Võimalik tõsta</td>
  <td>Kindel</td>
  </tr>
  <tr>
  <td>Grupp2</td>
  <td>Väike</td>
  <td>Suur</td>
  <td>Ei saa tõsta</td>
  <td>Kindel</td>
  </tr>
  <tr>
  <td>Grupp3</td>
  <td>Suur</td>
  <td>Suur</td>
  <td>Võib-olla tõsta</td>
  <td>Ebakindel</td>
  </tr>
  <tr>
  <td>Grupp4</td>
  <td>Väike</td>
  <td>Väike</td>
  <td>Võib-olla tõsta</td>
  <td>Ebakindel</td>
  </tr>

  </table>