<div class="raamYmber" >
  <br>
  <div class="frame">
  
    <div class="rida">
       <div class="group">
         <div class="joonisval">
           <div class="joonis">
               
             
             
            <div class="tekstike">
             Hoolduskulud
            </div>
            <br>
            <br>
            <div class="tekstike2"> 
              Raudteemudel annab ülevaate hoolduskulude suurusest, mida peaks arvestama kasutustasu kehtestamisel.
            </div>
            <br> 
            <div class="tekstike2"> 
              
            </div> 
              <br>
              
            <div class="tekstike2"> 
             
           </div>
           
           </div>
         
    
          </div>
         
       </div>
       <div class="tekstjanupp">
         <!--div class="graafikuke"-->
           
    
         <!--graaf12></graaf12-->
          <!--graafelast></graafelast-->
          <joon5-component></joon5-component>
         <!--/div-->
    
         <!--div class="nupp">
          <button>
          Vaata täpsemat põhjendust
          </button>
          </div-->  <!--Teksti kohta on stiiliinfot 224-->
       </div>
     </div>    
    
    </div>
  
  </div>