<p class="tekstike">
Elujõulisuse sisevaade
</p>

<p class="tekstike2">
Kratt annab ettevõtte majandusaasta aruannete ja maksudeklaratsioonide andmete põhjal hinnangu teie ettevõtte elujõulisusele. Roheline tulp joonisel näitab, kui tõenäoliseks peab Kratt, et ettevõtte elujõulisus on väga hea. Kollane näitab keskmise ja punane madala elujõulisuse tõenäosust. Hinnangud on antud kõigi viie kasutatud mudeli lõikes eraldi, sest see aiab parandada sisevaadet ja saadud hinnanguid paremini analüüsida.
</p>