.asukoht {
  padding-left: 50px;
  margin-top: -40px;
  
  }   

  .yld1-chart {
    height: 400px;
    padding-left: 100px;
    margin-left: 20px;
    width: 720px;
    background-position: right;
    
  }

  .tooltip-key {
    width: 20px;
    color: red;
    word-break: break-word;
    white-space: normal;
  }

  .tekstike2 {
    position: relative;
    width: 1034px;
    height: 48px;
    padding-top: 1px;
    padding-left: 40px;
    font-family: "Roboto-Regular", Helvetica;
    font-weight: 400;
    color: #4f4f4f;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 24px;
    margin-top: -30px;
  }   