<div class="raamYmber" >
<br>
<div class="frame">

  <div class="rida">
     <div class="group">
       <div class="joonisval">
         <div class="joonis">
             
           
           
          <div class="tekstike">
           Sisend elastsusmudeli treenimiseks
          </div>
          <br>
          <br>
          <div class="tekstike2"> 
            Kõrvaloleval joonisel on näidatud, kust tuleb sisend elastsusmudeli treenimiseks.
          </div>
          <br> 
          <div class="tekstike2"> 
            Kõigepealt võetakse olemasolev turg, olemasolevad koguste-hindade andmed. Selle pinnalt treenitakse mudel teiseste andmetega. Saadakse elastsuse mudel.
          </div> 
            <br>
            
          <div class="tekstike2"> 
           
         </div>
         
         </div>
       
  
        </div>
       
     </div>
     <div class="tekstjanupp">
       <!--div class="graafikuke"-->
         
  
       <!--graaf12></graaf12-->
        <!--graafelast></graafelast-->
        <joon1-component></joon1-component>
       <!--/div-->
  
       <!--div class="nupp">
        <button>
        Vaata täpsemat põhjendust
        </button>
        </div-->  <!--Teksti kohta on stiiliinfot 224-->
     </div>
   </div>    
  
  </div>

</div>