<div class="raamYmber" >
<br>
<div class="frame">

  <div class="rida">
     <div class="group">
       <div class="joonisval">
         <div class="joonis">
             
           
           
          <div class="tekstike">
           Hinnaelastsuse arvutus
          </div>
          <br>
          <br>
          <div class="tekstike2"> 
            Nõudluse hinnaelastsuse arvutamisel jagatakse koguse muutus hinna muutusega. Seeläbi saadakse teada, kui palju hinna muutus tingib koguse muutust.
          </div>
          <br>
          <div class="tekstike2"> 
            Seega sisendina on vajalikud nii koguste kui ka hindade muutused perioodi jooksul.
          </div> 
            <br>
            
          <div class="tekstike2"> 
           Üldiselt on mängus ka paljud muud mõjurid, parim oleks analüüsida "muude tingimuste samaksjäädes" tingimustel.
         </div>
         
         </div>
       
  
        </div>
       
     </div>
     <div class="tekstjanupp">
       <!--div class="graafikuke"-->
         
  
       <!--graaf12></graaf12-->
        <!--graafelast></graafelast-->
        <graafelasttree></graafelasttree>
       <!--/div-->
  
       <!--div class="nupp">
        <button>
        Vaata täpsemat põhjendust
        </button>
        </div-->  <!--Teksti kohta on stiiliinfot 224-->
     </div>
   </div>    
  
  </div>

</div>