<p class="tekstike">
  Konsultatsioonid
  </p>
  
  <!--p class="tekstikev">
    Mis infot me hetkeolukorra kohta teame
    </p-->
  
    <p class="tekstike2">
      Masinõppe tulemuste tõlgendamine võib olla keerukas ja arvestades masinõppe olemust võib süsteem jõuda ka eksitavatele või kallutatud järeldusele. Seega on äärmiselt oluline kasutada võimalust suhelda erialanõustajaga, kui vähegi tundub, et saadud tulemuste tõlgendamine võib olla keerukas või tulemused võivad olla kasvõi osaliselt ebakorrektsed. Käesoleval alalehel on olemas juhtnöörid ja informatsioon selleks, et pöörduda erialanõustaja poole.
  
  
  <!--
      {{ kooonsultArray }}
     <br><br><br>
     {{ valjamuutuja }}
     
  -->
  
    </p>