<div class="frame">

  <div class="rida">
     <div class="group">
       <div class="joonisval">
         <div class="joonis">
             
           
           
          <div class="tekstike">
           Mudelite hinnangud
          </div>
          
          <br>
          <div class="tekstike2"> 
            Kasutustasu määramise juures on oluline arvestada mudelite hinnangutega. Seetõttu peab olema võimalik tutvuda, millised need hinnangud täpselt on.
          </div>
          <br>
          <div class="tekstike2"> 
            Kõrvaloleval joonisel on välja toodud nelja mudeli hinnangud (süsteem kasutab hetkel nelja mudelit).  Kui mudeli hinnang on kuvatud, siis on mudel andnud tulemuseks "1" (ehk siis positiivse vastuse, hinnangud olukorra heaks).  Kui mudeli hinnangut ei ole kuvatud, siis on mudel andnud tulemuseks "0" (ehk siis negatiivse vastuse, hinnanud olukorda halvaks).
            <br><br>
            Mudelite hinnangud võivad olla ka vahemiskus 0..1, praegu on 0 või 1.
          </div>
           
         </div>
         
       
  
        </div>
       
     </div>
     <div class="tekstjanupp">
       <!--div class="graafikuke"-->
         
  
       <!--graaf12></graaf12-->
        <graafelastneli></graafelastneli>
       <!--/div-->
  
       <!--div class="nupp">
        <button>
        Vaata täpsemat põhjendust
        </button>
        </div-->  <!--Teksti kohta on stiiliinfot 224-->
     </div>
   </div>    
  
  </div>