<div class="raamYmber" >
  <br>
  <div class="frame">
  
    <div class="rida">
       <div class="group">
         <div class="joonisval">
           <div class="joonis">
               
             
             
            <div class="tekstike">
             Hinnaelastsuse sisend
            </div>
            <br>
            <br>
            <div class="tekstike2"> 
              Hinnaelastsuse sisend: kogused ja hinnad, tulenevad paljudest teguritest. Need tegurid on tinglikult grupeeritavad alajaotuste (ettevõte, turg jne.) lõikes.
            </div>
            <br> 
            <div class="tekstike2"> 
              Tegurite nimed ei pruugi olla analüütiliselt lõplikud, osadel on alajaotused, osad on põhimõttelised hinnangukoefitsiendid jne. Tegurite jaotus alagruppide lõikes on kohati tinglik, praktikas on raske mõõta, kust lõpeb üks grupp ja algab teine (mis on turuspetsiifiline mõju, mis on makromõjur, mis on kliendispetsiifikast tulenev mõjur jne.).
            </div> 
              <br>
              
            <div class="tekstike2"> 
             Reaalses analüüsis ei pruugi kõik seotud andmed olla analüüsiks saadaval ega hangitavad, ühtlasi võivad mõned andmed olla mõistlik asendada teistega.
           </div>
           
           </div>
         
    
          </div>
         
       </div>
       <div class="tekstjanupp">
         <!--div class="graafikuke"-->
           
    
         <!--graaf12></graaf12-->
          <!--graafelast></graafelast-->
          <graafelastsolt></graafelastsolt>
         <!--/div-->
    
         <!--div class="nupp">
          <button>
          Vaata täpsemat põhjendust
          </button>
          </div-->  <!--Teksti kohta on stiiliinfot 224-->
       </div>
     </div>    
    
    </div>
  
  </div>