<div class="dashboard">
  <div class="dashboard-type">
    <div class="dashboard-row">
      <div class="dashboard-row-item">
        <div
          class="mitu-ettev-tetest-on-sinu-maakonnas-sinu-ettev-ttest-paremas-seisus"
        >
        Mitu % ettevõtetest on sinu <span class="span10">maakonnas efektiivsuse</span> osas sinu ettevõttest majanduslikult nõrgemas seisus
        </div>
      </div>
      <div class="dashboard-row-item2">
        <div class="label">2023</div>
        <div class="content">{{effpcount}}%</div>
        <div class="label2">Ettevõtteid võrdluses: {{effncount}}</div>
      </div>
    </div>
    <svg
      class="divider2"
      width="950"
      height="16"
      viewBox="0 0 950 16"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <line y1="7.5" x2="950" y2="7.5" stroke="#669CC8" />
    </svg>
    <div class="dashboard-row2">
      <div class="dashboard-row-item">
        <div
          class="mitu-ettev-tetest-on-sinu-ettev-tte-tegevusalade-grupis-sinu-ettev-ttest-paremas-seisus"
        >
         
            
        Mitu % ettevõtetest on sinu ettevõtte <span class="span11">tegevusalade grupis efektiivsuse</span> osas sinu ettevõttest majanduslikult nõrgemas seisus
        </div>
      </div>
      <div class="dashboard-row-item2">
        <div class="label">2023</div>
        <div class="content">{{effpsect}}%</div>
        <div class="label2">Ettevõtteid võrdluses: {{effnsect}}</div>
      </div>
    </div>
    <svg
      class="divider2"
      width="950"
      height="16"
      viewBox="0 0 950 16"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <line y1="7.5" x2="950" y2="7.5" stroke="#669CC8" />
    </svg>
    <div class="dashboard-row3">
      <div class="dashboard-row-item">
        <div
          class="mitu-ettev-tetest-on-sinu-ettev-ttega-samas-suuruses-ettev-ttest-paremas-seisus"
        >
         
        Mitu % ettevõtetest on sinu ettevõttega samas <span class="span12">suuruses efektiivsuse</span> osas sinu ettevõttest majanduslikult nõrgemas seisus
        
        
        </div>
      </div>
      <div class="dashboard-row-item2">
        <div class="label">2023</div>
        <div class="content">{{effpsize}}%</div>
        <div class="label2">Ettevõtteid võrdluses: {{effnsize}}</div>
      </div>
    </div>
  </div>
</div>
